In [23]:
import csv

f = open('hospital_2019.csv','r',encoding='utf-8')
lines = csv.reader(f)
header = next(lines)

print('번호', '치과병원명', '주소','총의사수')

"""
line[0] 병원명
line[1] 종류
line[2] 지역
line[3] 주소
line[4] 전화번호
line[5] 개설일자
line[6] 총의사수
"""

# 문제 1. 전남 지역의 치과병원에 대한 치과병원명, 주소, 총 의사수의 목록을 출력하시오

number = 1
for line in lines:
    if (line[2] == '전남') and ('치과병원' in line[0]):
        print(f'{number}.{line[0]}/{line[3]}/{line[6]}')
        number += 1
f.close()

번호 치과병원명 주소 총의사수
1.국군함평치과병원/전라남도 함평군 해보면 신해로 1027 ()/3
2.그랜드치과병원/전라남도 여수시 시청로 48  (학동)/3
3.모아치과병원/전라남도 여수시 소호로 618  (학동)/8
4.미르치과병원/전라남도 목포시 백년대로 319  (상동)/17
5.순천미르치과병원/전라남도 순천시 연향번영길 118  (연향동)/5
6.신우치과병원/전라남도 무안군 삼향읍 남악3로 50 ()/9
7.예닮치과병원/전라남도 목포시 비파로 91 91/11

In [24]:
import csv

f = open('hospital_2019.csv','r',encoding='utf-8')
lines = csv.reader(f)
header = next(lines)

# 문제 2. 제주도에서 2016~2018년 3년 간 개원한 의원 수를 구하는 프로그램을 작성하시오

sum = 0
for line in lines:
    if line[2] == '제주':
        if not line[5] :
            line[5] = 0
        if (int(line[5]) >= 20160101) and (int(line[5]) <= 20181231):
            sum += int(line[6])

print('2016~2018년 3개년간 개원한 제주도의 의원 수 : %d개'%sum)

f.close()

2016~2018년 3개년간 개원한 제주도의 의원 수 : 233개

In [25]:
import csv

f = open('hospital_2019.csv','r',encoding='utf-8')
lines = csv.reader(f)
header = next(lines)

# 문제 3. 경기도 안양의 '청구빌딩'에 있는 병원을 찾고 있다. 그 병원에 대해 병원명, 병원종류, 주소, 전화번호 정보를 출력하시오.

sum = 0
for line in lines:
    if ('경기도 안양시' in line[3]) and ('청구빌딩' in line[3]):
        print("병원명:",line[0])
        print("병원종류:",line[1])
        print("주소:",line[3])
        print("전화번호:",line[4])
        print('-'*50)


f.close()

병원명: 서울 힐링 치과의원
병원종류: 치과의원
주소: 경기도 안양시 동안구 귀인로 216 (평촌동, 청구빌딩)
전화번호: 031-381-2929
--------------------------------------------------
병원명: 호성한의원
병원종류: 한의원
주소: 경기도 안양시 동안구 귀인로 216 2층 (평촌동, 청구빌딩)
전화번호: 031-384-1075
--------------------------------------------------

In [27]:
import csv

f = open('hospital_2019.csv','r',encoding='utf-8')
lines = csv.reader(f)
header = next(lines)

# 문제 4. 강원 지역에서 2019년 개원한 한의원에 대해 한의원명, 주소, 총 의사수의 목록을 출력하시오
"""
line[0] 병원명
line[1] 종류
line[2] 지역
line[3] 주소
line[4] 전화번호
line[5] 개설일자
line[6] 총의사수
"""
print('번호','한의원명','전화번호','총의사수')

num = 1
for line in lines:
    if (line[2] == '강원') and ('한의원' in line[0]):
        if (int(line[5]) >= 20190101) and (int(line[5]) <= 20191231): 
            print(f'{num}.{line[0]}/{line[4]}/{line[6]}')
            num = num + 1
            
f.close()

번호 한의원명 전화번호 총의사수
1.경희 고성한의원/033-681-6260/1
2.남대천한의원/033-642-0751/2
3.남부한의원/033-735-9000/2
4.단주한의원/033-648-7900/1
5.대활한의원/033-632-6964/1
6.맘드림한의원/033-647-1223/1
7.백세한의원/033-521-1921/1
8.의함다래평생한의원/033-766-8925/1
9.제일편한 한의원/033-262-1900/1
10.주천동리한의원/-/1
11.중앙한의원/033-482-5355/1
12.청담한의원/033-647-1497/1
13.청운한의원/033-651-5005/1
14.춘천한방한의원/033-260-7000/1
15.팔팔한의원/033-264-1588/1

In [30]:
import csv

f = open('hospital_2019.csv','r',encoding='utf-8')
lines = csv.reader(f)
header = next(lines)

# 문제 4. 부산의 병원명에 '삼성'이 들어가는 병원에 대해 총 병원수와 병원명, 종류, 주소, 개설일자의 목록을 출력하시오
"""
line[0] 병원명
line[1] 종류
line[2] 지역
line[3] 주소
line[4] 전화번호
line[5] 개설일자
line[6] 총의사수
"""
print('번호','병원명','종류','주소','개설일자')

num = 1
for line in lines:
    if (line[2]=='부산')and('삼성' in line[0]) :
        print(f'{num}.{line[0]}/{line[1]}/{line[3]}/{line[5]}')
        num = num + 1
            
f.close()

번호 병원명 종류 주소 개설일자
1.덕천삼성정형외과의원/의원/부산광역시 북구 만덕대로 58 3층 (덕천동)/20170427
2.르노삼성자동차부속의원/의원/부산광역시 강서구 르노삼성대로 61 (신호동)/20140827
3.비에스(BS)삼성안과의원/의원/부산광역시 중구 구덕로 90 (남포동6가)/20131101
4.삼성내과엠알영상의학과의원/의원/부산광역시 사하구 낙동남로 1392 3,4,9～12층 (하단동)/20081121
5.삼성뉴방외과의원/의원/부산광역시 해운대구 해운대로 794 603호 (좌동, 삼정엘리움)/20110725
6.삼성메디이비인후과의원/의원/부산광역시 동구 중앙대로 197 (초량동)/20131011
7.삼성메디칼의원/의원/부산광역시 연제구 중앙대로 1125 에이동 408호 (연산동, CT타워)/20170215
8.삼성메디칼의원/의원/부산광역시 부산진구 전포대로 294 1동 303층 (전포동, 서면한신아파트)/20100512
9.삼성메디칼의원/의원/부산광역시 서구 대티로 179 3층 (서대신동3가)/20040302
10.삼성서울내과의원/의원/부산광역시 동래구 사직로70번길 76 (사직동)/20130816
11.삼성스마트신경과의원/의원/부산광역시 동래구 중앙대로 1523 SKHUBSKY 2층 B2-6,7,8,9,12,13,14,15호 (온천동)/20190418
12.삼성안과의원/의원/부산광역시 사하구 낙동대로 454 3층 (당리동)/19980309
13.삼성안과의원/의원/부산광역시 기장군 기장읍 차성남로51번길 30 4층/20060428
14.삼성연합의원/의원/부산광역시 동래구 여고북로 160 2,4층 (사직동)/20080325
15.삼성의원/의원/부산광역시 동래구 충렬대로 252 (수안동)/20120627
16.삼성의원/의원/부산광역시 서구 구덕로 102-1 (충무동1가)/20080618
17.삼성의원/의원/부산광역시 해운대구 반송로924번길 13-1 (반송동)/20051103
18.삼성이비인후과의원/의원/부산광역시 북구 화명대로 35 신호타워 3층 302호 (화명동)/20100302
19.삼성전기부속의원/의원/부산광역시 강서구 녹산산업중로 333 14동 2층 (송정동)/20100419
20.삼성정형외과의원/의원/부산광역시 부산진구 서전로 1 (부전동)/19830316
21.삼성정형외과의원/의원/부산광역시 동래구 금강공원로 8-1 (온천동)/20100219
22.삼성정형외과의원/의원/부산광역시 수영구 수영로 636 1,2층 (광안동)/20061004
23.삼성제일산부인과의원/의원/부산광역시 해운대구 해운대로 369 5층 (우동, 해운대센텀메디칼센타)/20071022
24.삼성제일신경외과의원/의원/부산광역시 사하구 사하로 201 6층 (괴정동)/20171109
25.삼성제일의원/의원/부산광역시 동구 고관로 119-1 (수정동)/20030213
26.삼성피부과의원/의원/부산광역시 부산진구 서전로 1 3층 (부전동)/19840504
27.서울삼성내과의원/의원/부산광역시 동래구 충렬대로 467 (안락동)/20110321
28.센텀삼성비뇨의학과의원/의원/부산광역시 해운대구 해운대로 369 해운대센텀메디칼센터 2층 (우동)/20180904
29.센텀삼성재활의학과의원/의원/부산광역시 해운대구 해운대로 365 501호 (우동)/20190430
30.삼성메디컬치과의원/치과의원/부산광역시 사하구 낙동남로 1392 5층 (하단동)/20120801
31.삼성치과의원/치과의원/부산광역시 연제구 중앙대로 1097 5층 (연산동)/20020108
32.삼성치과의원/치과의원/부산광역시 금정구 중앙대로 2095 (남산동)/19970509
33.서울삼성치과의원/치과의원/부산광역시 북구 만덕대로 12 (덕천동)/20160309
34.경주삼성한의원/한의원/부산광역시 연제구 월드컵대로 23 (연산동)/19861029
35.삼성한의원/한의원/부산광역시 서구 구덕로 102-1 (충무동1가)/20080605
36.삼성한의원/한의원/부산광역시 기장군 기장읍 차성동로 93 2층/20190503